flows (1).json
[{"id":"cefaabeb.227eb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"592c75c2.28ebec","type":"debug","z":"cefaabeb.227eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":160,"wires":[]},{"id":"58e3f45b.667fac","type":"ibmiot in","z":"cefaabeb.227eb8","authentication":"apiKey","apiKey":"fe43693b.e90d88","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"rasberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":160,"wires":[["592c75c2.28ebec","b94477fd.d12608","cac0b6ff.d66a48","f0f36310.055c9"]]},{"id":"cac0b6ff.d66a48","type":"function","z":"cefaabeb.227eb8","name":"Temperature","func":"global.set('Temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":80,"wires":[["592c75c2.28ebec","36a76224.d4560e"]]},{"id":"b94477fd.d12608","type":"function","z":"cefaabeb.227eb8","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":240,"wires":[["592c75c2.28ebec","20c9ef8e.1c35"]]},{"id":"20c9ef8e.1c35","type":"ui_gauge","z":"cefaabeb.227eb8","name":"","group":"70c9e6a0.d4b3e8","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":240,"wires":[]},{"id":"36a76224.d4560e","type":"ui_gauge","z":"cefaabeb.227eb8","name":"","group":"70c9e6a0.d4b3e8","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":80,"wires":[]},{"id":"c350bd55.f9a1e","type":"http in","z":"cefaabeb.227eb8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":340,"wires":[["38086dcb.9463a2"]]},{"id":"e9454dc8.7cd3d","type":"http response","z":"cefaabeb.227eb8","name":"","statusCode":"","headers":{},"x":510,"y":340,"wires":[]},{"id":"38086dcb.9463a2","type":"function","z":"cefaabeb.227eb8","name":"webpage","func":"msg.payload={'Temperature':global.get(\"Temperature\"),'Humidity':global.get(\"Humidity\"),'soilmoisture':global.get(\"soilmoisture\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":340,"wires":[["e9454dc8.7cd3d"]]},{"id":"dcca17d2.362308","type":"ibmiot out","z":"cefaabeb.227eb8","authentication":"apiKey","apiKey":"fe43693b.e90d88","outputType":"cmd","deviceId":"123456","deviceType":"1.1.1","eventCommandType":"home","format":"string","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":550,"y":500,"wires":[]},{"id":"c69d0eb1.dd5bf","type":"ui_button","z":"cefaabeb.227eb8","name":"","group":"18be6c4.9203594","order":1,"width":0,"height":0,"passthru":false,"label":"motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motor on","payloadType":"str","topic":"","x":220,"y":480,"wires":[["dcca17d2.362308","9f46ed6a.77bee","9062c763.638928"]]},{"id":"957a645.5c0b098","type":"ui_button","z":"cefaabeb.227eb8","name":"","group":"18be6c4.9203594","order":2,"width":0,"height":0,"passthru":false,"label":"motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motor off","payloadType":"str","topic":"","x":220,"y":540,"wires":[["dcca17d2.362308","e1f45fc6.27b6f","9062c763.638928"]]},{"id":"21485ac2.e2b766","type":"http in","z":"cefaabeb.227eb8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":230,"y":720,"wires":[["65c36e5e.2eb78"]]},{"id":"c45a416c.26968","type":"http response","z":"cefaabeb.227eb8","name":"","statusCode":"","headers":{},"x":630,"y":720,"wires":[]},{"id":"65c36e5e.2eb78","type":"function","z":"cefaabeb.227eb8","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":720,"wires":[["c45a416c.26968","dcca17d2.362308","2b8b4a6b.29d446"]]},{"id":"2b8b4a6b.29d446","type":"debug","z":"cefaabeb.227eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":620,"wires":[]},{"id":"9f46ed6a.77bee","type":"ui_audio","z":"cefaabeb.227eb8","name":"","group":"18be6c4.9203594","voice":"en-US","always":"","x":430,"y":440,"wires":[]},{"id":"e1f45fc6.27b6f","type":"ui_audio","z":"cefaabeb.227eb8","name":"","group":"18be6c4.9203594","voice":"en-US","always":"","x":420,"y":580,"wires":[]},{"id":"9062c763.638928","type":"ui_toast","z":"cefaabeb.227eb8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"motor","name":"","x":460,"y":400,"wires":[]},{"id":"a324b19e.bdb96","type":"inject","z":"cefaabeb.227eb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"welcome to green house monitoring and control system","payloadType":"str","x":90,"y":40,"wires":[["3a0f08f1.c21048"]]},{"id":"3a0f08f1.c21048","type":"debug","z":"cefaabeb.227eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":40,"wires":[]},{"id":"2efe28c8.1f6138","type":"ui_button","z":"cefaabeb.227eb8","name":"","group":"4946e126.31eba","order":0,"width":0,"height":0,"passthru":false,"label":"wheat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"wheat","payloadType":"str","topic":"","x":220,"y":620,"wires":[["dcca17d2.362308","2b8b4a6b.29d446"]]},{"id":"f0f36310.055c9","type":"function","z":"cefaabeb.227eb8","name":"","func":"global.set('soilmoisture',msg.payload.soilmoisture)\nmsg.payload=msg.payload.soilmoisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":280,"wires":[["14c14168.91ce0f"]]},{"id":"14c14168.91ce0f","type":"ui_chart","z":"cefaabeb.227eb8","name":"","group":"70c9e6a0.d4b3e8","order":4,"width":0,"height":0,"label":"soil moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":410,"y":280,"wires":[[]]},{"id":"fe43693b.e90d88","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"70c9e6a0.d4b3e8","type":"ui_group","z":"","name":"green house","tab":"c8149e8d.36028","order":2,"disp":true,"width":"6","collapse":false},{"id":"18be6c4.9203594","type":"ui_group","z":"","name":"motor","tab":"c664c9d6.3299a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4946e126.31eba","type":"ui_group","z":"","name":"pick","tab":"b47e4078.0e141","order":1,"disp":true,"width":"6","collapse":false},{"id":"c8149e8d.36028","type":"ui_tab","z":"","name":"green house","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c664c9d6.3299a8","type":"ui_tab","z":"","name":"motor","icon":"dashboard","disabled":false,"hidden":false},{"id":"b47e4078.0e141","type":"ui_tab","z":"","name":"crop","icon":"dashboard","disabled":false,"hidden":false}]